@use "utils/colors" as clr;
@use "utils/mixins" as mxn;
@use "components/aside.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: clr.$primary__clr;
  font-family: "Rajdhani", sans-serif;
  color: rgba(white, 0.95);
  @include mxn.flex-center(row);
  justify-content: space-between;
  .dashboard {
    height: 100%;
    width: 100%;
    padding: 1rem;
    @include mxn.flex-center(column);
    align-items: start;
    justify-content: start;
    .chart__container {
      width: 100%;
      height: 50%;
      @include mxn.flex-center(row);
      justify-content: space-between;
      .chart__one,
      .chart__two {
        height: 100%;
        width: 50%;
        canvas {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
