<aside>
  <ul>
    <li>
      <a href="/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="#" class="show__hidden">Patients</a>
    </li>
    <div class="hidden__list">
      <li><a href="/patient/all">Tout les patiens</a></li>
      <li><a href="/patient/add">Ajouter un patient</a></li>
    </div>
    <li><a href="#" class="show__hidden__rdv">Rendez-vous</a></li>
    <div class="hidden__list__rdv">
      <li><a href="#">Afficher les rendez-vous</a></li>
      <li><a href="/rdv/ajouter">Prendre un dendez-vous</a></li>
    </div>
  </ul>
</aside>
