<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="dist/index.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.0/apexcharts.min.js"
      defer
    ></script>
    <script src="js/aside.js" defer></script>
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('components/aside') %>
    <div class="dashboard">
      <div class="chart__container">
        <div class="chart__one">
          <div id="myChart__one"></div>
        </div>
        <div class="chart__two">
          <div id="myChart__two"></div>
        </div>
      </div>
      <div class="card__container">
        <div class="card rdv__card"></div>
        <div class="card patient__card"></div>
        <div class="card homme__card"></div>
        <div class="card femme__card"></div>
      </div>
    </div>

    <script>
      ;(async () => {
        const response = await fetch("/dashboardd")
        const data = await response.json()
        document.querySelector(".rdv__card").innerHTML = `
          <h2>Nombre de rendez-vous</h2>
          <h1>${data[1][0]["rdvCount"]}</h1>
        `
        document.querySelector(".patient__card").innerHTML = `
          <h2>Nombre de patients</h2>
          <h1>${data[0][0]["patientCount"]}</h1>
        `
        var options = {
          series: [
            {
              name: "Actual",
              data: [
                {
                  x: "Patient commpte",
                  y: data[0][0]["patientCount"],
                },
                {
                  x: "Rendez-vous compte",
                  y: data[1][0]["rdvCount"],
                },
              ],
            },
          ],
          chart: {
            height: "100%",
            type: "bar",
          },
          plotOptions: {
            bar: {
              horizontal: true,
            },
          },
          colors: ["#00E396"],
          dataLabels: {
            formatter: function (val, opt) {
              const goals =
                opt.w.config.series[opt.seriesIndex].data[opt.dataPointIndex]
                  .goals

              if (goals && goals.length) {
                return `${val} / ${goals[0].value}`
              }
              return val
            },
          },
          legend: {
            show: true,
            showForSingleSeries: true,
            customLegendItems: ["Actual"],
            markers: {
              fillColors: ["#00E396", "#775DD0"],
            },
          },
        }

        var chart = new ApexCharts(
          document.querySelector("#myChart__one"),
          options
        )
        chart.render()
        const response1 = await fetch("/dashboardd/sexe")
        const data1 = await response1.json()
        console.log(data1[0][0]["homme"])
        document.querySelector(".homme__card").innerHTML = `
          <h2>Nombre de femmes</h2>
          <h1>${data1[1][0]["femme"]}</h1>
        `
        document.querySelector(".femme__card").innerHTML = `
          <h2>Nombre d'hommes</h2>
          <h1>${data1[0][0]["homme"]}</h1>
        `
        var options = {
          series: [data1[0][0]["homme"], data1[1][0]["femme"]],
          chart: {
            width: "55%",
            type: "pie",
          },
          labels: ["Homme", "Femme"],
          responsive: [
            {
              breakpoint: 480,
              options: {
                chart: {
                  width: 200,
                },
                legend: {
                  position: "bottom",
                },
              },
            },
          ],
        }

        var chart = new ApexCharts(
          document.querySelector("#myChart__two"),
          options
        )
        chart.render()
      })()
    </script>
  </body>
</html>
