@use "../utils/colors" as clr;
@use "../utils/mixins" as mxn;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rajdhani", sans-serif;
  height: 100vh;
  width: 100vw;
  @include mxn.flex-center(column);
  color: rgba(white, 0.7);
  background: clr.$primary__clr;
  font-family: "Rajdhani", sans-serif;
}
