@use "../components/aside.scss";
@use "../utils/colors" as clr;
@use "../utils/mixins" as mxn;
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: clr.$primary__clr;
  font-family: "Rajdhani", sans-serif;
  color: rgba(white, 0.95);
  @include mxn.flex-center(row);
  justify-content: space-between;
  .register__container {
    width: 100%;
    height: 100%;
    @include mxn.flex-center(row);
    .register {
      margin: auto;
      height: 85%;
      width: 60%;
      margin-inline: auto;
      @include mxn.flex-center(row);
      background: clr.$primary__clr__light;
      border: 1px solid rgba(white, 0.1);
      border-radius: 5rem;
      overflow: hidden;
      box-shadow: clr.$box-shadow-light;
      img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      form {
        @include mxn.flex-center(column);
        justify-content: space-between;
        padding-block: 4rem;
        height: 100%;
        width: 50%;
        h1 {
          font-weight: 300;
          letter-spacing: 1px;
        }
        input,
        button,
        select {
          width: 60%;
          padding: 1rem;
          outline: none;
          border: 1px solid clr.$primary__clr;
          background: rgba(white, 0.02);
          border-radius: 5px;
          font-size: 1.1rem;
          color: rgba(white, 0.9);
          &::placeholder {
            color: rgba(white, 0.6);
          }
        }
        select {
          background: clr.$primary__clr__light;
        }
        button {
          background: clr.$primary__clr;
          cursor: pointer;
          transition: all 200ms ease-in;
          &:hover {
            background: clr.$primary__clr__light;
            transform: translateY(1px);
          }
        }
      }
    }
  }
}
